{% extends 'base.html.twig' %}

{% block body %}
    <div class="row">
        <div class="col-lg-offset-3 col-lg-12">
            <div class="alert invisible" id="msg-box-alert">
                Thank you, we will contact you as soon as it possible.
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox">
                <div class="ibox-title">
                    <h5>Send us a feedback</h5>
                    <div class="ibox-tools">
                    </div>
                </div>
                <div class="ibox-content">
                    {{ form_start(form, {'attr': {'id':'feedback-form'}}) }}
                    <div class="form-group  row"><label class="col-sm-2 col-form-label">Name</label>
                        <div class="col-sm-10">{{ form_row(form.name, {'attr': {'class':'form-control', 'required':''}}) }}</div>
                    </div>
                    <div class="hr-line-dashed"></div>
                    <div class="form-group  row"><label class="col-sm-2 col-form-label">Phone</label>
                        <div class="col-sm-10">{{ form_row(form.phone, {'attr': {'class':'form-control tel', 'required':''}}) }}</div>
                    </div>
                    <div class="hr-line-dashed"></div>
                    <div class="form-group  row"><label class="col-sm-2 col-form-label">Message</label>
                        <div class="col-sm-10">{{ form_row(form.message, {'attr': {'class':'form-control', 'required':''}}) }}</div>
                    </div>
                    <div class="hr-line-dashed"></div>
                    <div class="form-group  row"><label class="col-sm-2 col-form-label"></label>
                        <div class="col-sm-10">{{ form_row(form.submit, {'attr': {'class':'btn btn-primary'}}) }}</div>
                    </div>
                    {{ form_end(form) }}
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/phoneValidate.js') }}"></script>
    <script src="{{ asset('js/jquery.mask.min.js') }}"></script>
    <script src="{{ asset('js/phoneMask.js') }}"></script>
{% endblock %}